.footerContainer {
    background-color: white ;
    color: rgb(44, 44, 46);
    display: block; 
    height: 35vh;
    font-family: 'Bebas Neue', serif;
    padding-top: 3%;
    box-shadow: 0px 3px 50px rgb(245, 245, 245) inset;
}

.footerTitle{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

hr {
    width: 30vh;
}

.footerMedia {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.footerWorks p{
    display: block;
    font-size: 15px;
}

.footerAbout p{
    display: block;
    font-size: 15px;
}
