
body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    padding-top: 8vh;
}

/* First container */
.titleContainer {
    display: flex;
    align-items: center;
    height: 65vh;
    background-color: rgb(248, 250, 252);
    overflow: hidden;
  }
  
  .titleImg {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 17%;
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
  }
  
  h1 {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 200px;
    font-weight: bolder;
    font-family: 'Bebas Neue', serif;
    letter-spacing: 12px;
    color: rgb(252, 180, 42);
    padding-left: 15%;
    line-height: 0.8;
    
  }



/* Second Container */
.newReleasesContainer {
    display: block;
    width: 100%;
}

.newReleasesTitle {
    font-family: 'Monserat', serif;
    background: rgb(235 247 252);
    color: rgb(90, 90, 116);
    font-size: 60px;
    font-weight: 600;
    /* padding-top: 2%; */
    margin: 0px;
    display: flex;
    justify-content: center;
}

/* blog block */
.cont2BGImg {
    width: 100%;
    height: 100%;
    opacity: .3;
}

.newBlog {
    height: 50vh;
    background-color: rgb(235 247 252);
    color: white;
}
.newBlog h3{
    margin: 0px;
}


/* podcast block */
.newPodcast {
    height: 50vh;
    background-color: rgb(255 255 255);
}

.cont2BGImg2 {
    width: 100%;
    height: 100%;
    opacity: .3;
    transform: rotate(180deg);
}
