

:root {
  --gradientyellow:rgb(251,194,82,1);
  --gradientlight:rgb(203, 210, 251);
}


body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    padding-top: 8vh;
}

/* ------- Title container -------- */
.titleContainer {
    display: flex;
    align-items: center;
    height: 65vh;
    background-color: rgb(248, 250, 252);
    overflow: hidden;
  }
  
  .titleImg {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 17%;
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
  }
  
  h1 {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 200px;
    font-weight: bolder;
    font-family: 'Bebas Neue', serif;
    letter-spacing: 12px;
    color: rgb(252, 180, 42);
    padding-left: 15%;
    line-height: 0.8;
    
  }



/* ------- Novel Carousel -------- */

.carouselContainer {
    font-family: 'Monserat', serif;
    background: rgb(163, 187, 152);
    color: rgb(240, 236, 207);
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carouselContainer h3 {
  font-size: 50px;
  margin: 0px;
  padding-right: 2%;
}

.carouselBtns {
  margin-top: auto;
  padding-bottom: 1%;  
  padding-right: 2%;
}

.previous-button{
  background-color: rgb(240, 236, 207);
  /* border-radius: 100px; */
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  box-shadow: rgba(184, 179, 120, 0.2) 0 -25px 18px -14px inset,rgba(233, 231, 142, 0.15) 0 1px 2px,rgba(240, 213, 92, 0.15) 0 2px 4px,rgba(153, 146, 80, 0.15) 0 4px 8px,rgba(190, 161, 99, 0.15) 0 8px 16px,rgba(189, 172, 96, 0.15) 0 16px 32px;
  color:rgb(74, 75, 88);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  width: 75px;

} .previous-button:hover {
  box-shadow: rgba(187, 149, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 120, 44, 0.25) 0 1px 2px,rgba(187, 149, 44, 0.25) 0 2px 4px,rgba(187, 177, 44, 0.25) 0 4px 8px,rgba(187, 177, 44, 0.25) 0 8px 16px,rgba(187, 165, 44, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.next-button{
  background-color: rgb(240, 236, 207);
  /* border-radius: 100px; */
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: rgba(184, 179, 120, 0.2) 0 -25px 18px -14px inset,rgba(233, 231, 142, 0.15) 0 1px 2px,rgba(240, 213, 92, 0.15) 0 2px 4px,rgba(153, 146, 80, 0.15) 0 4px 8px,rgba(190, 161, 99, 0.15) 0 8px 16px,rgba(189, 172, 96, 0.15) 0 16px 32px;
  color:rgb(74, 75, 88);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  width: 75px;
} .next-button:hover {
  box-shadow: rgba(187, 149, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 120, 44, 0.25) 0 1px 2px,rgba(187, 149, 44, 0.25) 0 2px 4px,rgba(187, 177, 44, 0.25) 0 4px 8px,rgba(187, 177, 44, 0.25) 0 8px 16px,rgba(187, 165, 44, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.scene {
    position: relative;
    width: 210px;
    height: 140px;
    margin: 30px auto;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .carousel__cell {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10px;
    top: 10px;
    border: none;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15%;
  }

  .carousel__cell img {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 200px;
  }
  

  .carousel__cell:nth-child(9n+1) { background:none; }
  .carousel__cell:nth-child(9n+2) { background:none; }
  .carousel__cell:nth-child(9n+3) { background:none; }
  .carousel__cell:nth-child(9n+4) { background:none; }
  .carousel__cell:nth-child(9n+5) { background:none; }
  .carousel__cell:nth-child(9n+6) { background:none; }
  .carousel__cell:nth-child(9n+7) { background:none; }
  .carousel__cell:nth-child(9n+8) { background:none; }
  .carousel__cell:nth-child(9n+0) { background:none; }
  
  .carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(500px); }
  .carousel__cell:nth-child(2) { transform: rotateY(30deg) translateZ(500px); }
  .carousel__cell:nth-child(3) { transform: rotateY(60deg) translateZ(500px); }
  .carousel__cell:nth-child(4) { transform: rotateY(90deg) translateZ(500px); }
  .carousel__cell:nth-child(5) { transform: rotateY(120deg) translateZ(500px); }
  .carousel__cell:nth-child(6) { transform: rotateY(150deg) translateZ(500px); }
  .carousel__cell:nth-child(7) { transform: rotateY(180deg) translateZ(500px); }
  .carousel__cell:nth-child(8) { transform: rotateY(210deg) translateZ(500px); }
  .carousel__cell:nth-child(9) { transform: rotateY(240deg) translateZ(500px); }
  .carousel__cell:nth-child(10) { transform: rotateY(270deg) translateZ(500px); }
  .carousel__cell:nth-child(11) { transform: rotateY(300deg) translateZ(500px); }
  .carousel__cell:nth-child(12) { transform: rotateY(330deg) translateZ(500px); }




/* --------- Second Container --------- */
.newReleasesContainer {
    display: block;
    width: 100%;
}

.newReleasesTitle {
    font-family: 'Monserat', serif;
    background: rgb(235 247 252);
    color: rgb(90, 90, 116);
    font-size: 60px;
    font-weight: 600;
    /* padding-top: 2%; */
    margin: 0px;
    display: flex;
    justify-content: center;
}




/* ----------- blog block ----------- */
.cont2BGImg {
    width: 100%;
    height: 100%;
    opacity: .3;
}

.newBlog {
    height: 50vh;
    background-color: rgb(235 247 252);
    color: white;
}
.newBlog h3{
    margin: 0px;
}



/* --------- podcast block ----------- */
.newPodcast {
    height: 50vh;
    background-color: rgb(255 255 255);
}

.cont2BGImg2 {
    width: 100%;
    height: 100%;
    opacity: .3;
    transform: rotate(180deg);
}
