.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 8vh;
    color: rgb(107, 168, 206);
    width: 100%;
  }
  
  .navIcon {
    margin-right: 5px;
  }
  
  .navContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .navLogo {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bebas Neue', serif;
    letter-spacing: 5px;
    white-space: nowrap;
    color: rgb(252, 180, 42);
  }
  
  .navUL {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  li {
    font-family: 'Bebas Neue', serif; /* 'Monserat', serif */
    font-size: 20px;
    font-weight: bold;
    color: white;
    }
  
    a {
      color: rgb(44, 44, 46);
      text-decoration: none;
    }
    
    a:hover {
      color: rgb(84, 118, 192);
      text-decoration: none;
    }