# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiNWFhZDU3NWQ0MTNmYTEwNzU0MDg2Yzc4NWNhZGNiOWU3OGRlMTVmZDkzOTA5NGIzMWFkYmZiMDAwODI4ZGNkMGUzY2I2ODU1NzNlOTdjODgiLCJpYXQiOjE2ODU1NTU0MDguMTc4Mzk5LCJuYmYiOjE2ODU1NTU0MDguMTc4NCwiZXhwIjo0ODQxMjI5MDA4LjE3MTUxMiwic3ViIjoiMzc1MDA4Iiwic2NvcGVzIjpbXX0.EoLjYoqn-w5K2U1b5xXOzSitvXr_0x60pMCJbu-wI6i62Qp2O4SNCbWSyec4LErAXDQMULuPqqcQbJdL7yeak9N1f1LmCXPKEUdA4NEZt4-Tx_folcTyhlLfSpaGYtyLxYmJ-BgMfuNnZ9X4pBwbqyBT-tAkFUOcMJFS0w3JHFt4u3oK7Fb9T4uDVZtvC12RQAJaFE-9J9u5ZcEAajvluzdUC3-_vCMyZYMHyiBd9qgkwTMhX6xWmAJBRN1oqVkSztSxiYzKgaN2PlCyXRaxB0NenI3y278KATv1-Jp6gSeNK6TK6LhZxNerwNmH_cQwRXG38k7reeIrsxD5I3fTuRH8qc7trdsh7cKBrQr6HlTmR5HcA9xt16YRefmgnn7FnpLqnO-Ol6hkBIZ8eRXkVB8Zum1Vw8_sAtxYfu8Hytmr_7FnpuHWFI_jFPDMeC_AQ6HqvmjCdRbQPepHaqVkyYkzZ5H9vtbMkIt8lwTOpZ_TuWhsq_ziAccLYY7TenS4PlMWPvEBWRRmIfYOB20nz7eSvHVDcKMQCY69caj1CzOSMcflpqbZsJ8iWi1V36ug5IdqI5_SQoAFOYHU02SxRWTYSMZAKMW8wz37CfTQqRcTsQvImOVKCrS2NggC2BkLK3-QtmE1W8UU7mNwU8UGgT4orrSczvE6ZZTzL3RF9js